/* colors code */
.text-bl {
    color: #343a40;
}

.text-wh {
    color: #fff;
}

.text-li {
    color: #f8f9fa;
}

.text-da {
    color: #000;
}

.bg-li {
    background: #f8f9fa;
}

.bg-wh {
    background: #fff;
}

.let {
    letter-spacing: 1px;
}

/*colors code */