/* copyright bottom */
/* copyright */
.copy_right p a {
    color: #000;
    font-weight: 600;
    letter-spacing: 2px;
}

/* //copyright */
/* social icons */
.social-icons-footer ul li {
    display: inline-block;
}

.social-icons-footer ul li a span {
    color: #705ecf;
    margin: 0 8px;
    font-size: 16px;
}

/* //social icons */
/* bottom-to-top */
a.move-top span {
    color: #05b993;
    font-size: 30px;
}

/* //bottom-to-top */
/* //copyright bottom */